:root {
    --primary-text-color:#757575;
    --primary-back-ground-color:#F5F5F5;
    --accent-color:#2196F3;
    --secondary-text-color:#212121;
}

/* Сброс отступов */
p, ul, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
    /* Убираем маркеры */

li {
    list-style-type: none;

  }

body {
    color:var(--primary-text-color);

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.page-header {
    border-bottom: 1px solid #ECECEC;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    text-align: start;
}

.main-box {
    display: flex;
    align-items: center;
}


a {
    text-decoration:none;
    letter-spacing: 0.02em;
}

.logo {
    color:#000000; 

    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight:700; 
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
}

.accent {
    color:var(--accent-color);
}

.accent-studio {
    color: #FFFFFF;
}


.img {
    display:block; 
    max-width: 100%;
}
/*---------- Site Nav ----------*/

.site-nav {
    display: flex;
    margin-left: 92px;
}

.site-nav .item {
    margin-right: 50px;
}

.site-nav .item:last-child{
    margin-right: 0;
}

.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    line-height: calc(16 / 14);
    font-weight: 500;
    color:var(--secondary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color:var(--accent-color);
}

.site-nav .link.current {
    color:var(--accent-color);
}

/*---------- Auth-nav ----------*/

.auth-nav {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.auth-nav .item + .item {
    padding-left: 50px;
}
.auth-nav .link{
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color:var(--primary-text-color);

    line-height: calc(16 / 14);
    font-weight: 500;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color:var(--accent-color);
}


.icon {
    margin-right: 10px;
    fill: currentColor;
}

.auth-nav .icon:hover,
.auth-nav .icon:focus {
    color:var(--accent-color);
}

/*---------- Section HERO ----------*/

.hero {
    background-color:rgba(47, 48, 58, 0.4);
    background-image: url(../images/team.jpg);

    padding-top: 200px; 
    padding-bottom: 200px; 
    text-align: center;
}

.hero-title {
    margin-bottom: 30px;
    color:#FFFFFF;

    text-align: center;

    font-size: 44px;
    font-weight: 900;
    line-height: calc(60 / 44);
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

/*---------- Hero Button ----------*/
.button {
    border: solid transparent;
    border-radius: 4px;
    padding: 6px 28px;
    min-width: 216px;
    text-align: center;

    background-color: var(--accent-color);
    color:#FFFFFF;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;


}

.button:hover,
.button:focus {
    background: #188CE8;
}

/*----------  Feature-list ---------- */
.feature-list {
    display: flex;
    flex-wrap: wrap;
}

.feature-list .title {
    font-style: normal;
    margin-bottom: 10px;

    color:var(--secondary-text-color);

    font-size: 14px;
    font-weight: 700;
    line-height: calc(16 / 14);
}

.feature-list .paragraph {
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}


.feature-list .item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
}

.feature-list .item:last-child {
    margin-right: 0px;
}    


.feature-list-link {
    display: flex;
    background-color: #F5F4FA;
    height: 120px;
    align-items:center;
    justify-content: center;
    margin-bottom: 30px;
}

/*------- Section -------*/

.section {
    padding-top:94px;
    padding-bottom:94px
}  

.about {
    padding-top: 0px;
}

.about-team {
    background-color: #F5F4FA;
}

/*---------- Work list ----------*/

.work-list {
    display: flex;
}

.work-list .item:not(:last-child) {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
}    


/*---------- Section comand ----------*/

.section-comand {
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: #F5F4FA;
}

.section-title {
    margin-bottom: 50px;

    color:var(--secondary-text-color);

    font-size:36px;
    font-weight: 700;
    line-height: calc(42 / 36);
    text-align: center;
}

.comand-list .title {
    margin-bottom: 10px;

    color:var(--secondary-text-color);

    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: calc(19 / 16);
}

.comand-list .name {
    width: 270px;
    padding-top: 30px;
    padding-bottom: 30px;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom:rgba(0, 0, 0, 0.12) solid;
    
}

.comand-list .paragraph {
    text-align: center;
    font-size: 16px;
    line-height: calc(19 / 16);   
    margin-bottom: 16px; 
}

.comand-list {
    display: flex;
}

.comand-list .item {
    display: flex;
    flex-direction:column;
    background-color: #FFFFFF;
    width: calc((100% - 90px) / 4);
    align-items: center;

}

.comand-list .item:not(:last-child) {
    margin-right: 30px;
}    

.social {
    display: flex;
    justify-self: center;
}



.social-link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.social-link:first-child {
    margin-left: 30px;
}

.social-link:last-child {
    margin-right: 30px;
}



.social-icon {
    fill: currentColor;
}

.social-link:hover,
.social-link:focus {
    background-color:var(--accent-color);
    border-radius: 50%;
    color:#FFFFFF;
}



/*----------  Footer ---------- */
.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
}


.footer-list {
    font-style: normal;
}

.footer-list .address{
    color: #FFFFFF;
}

.footer-nav {
    display: flex;
    flex-direction: column;
}

.footer-nav .link {
    color:rgba(255, 255, 255, 0.6);
    letter-spacing: 0.03em;
    
    
}

.footer-nav .link:hover,
.footer-nav .link:focus {
    color:var(--accent-color);
}

.footer-nav .item {
    line-height: calc(24 / 14);
}

.footer-nav .item:not(:last-child) {
    margin-bottom: 9px;
}

/*----------  PORTFOLIO ------------------------------- */
.site-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 34px;
}

.site-filter .link {
    padding-top: 6px;
    padding-bottom: 6px;
    border: transparent;
    border-radius: 4px;
    padding-left: 22px;
    padding-right: 22px;
    cursor: pointer;

    color: var(--secondary-text-color);
    background-color: #F5F4FA;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    
}


.site-filter .current {
    padding-left: 25px;
    padding-right: 25px;
}


.site-filter .link:hover,   
.site-filter .link:focus {
    color: #FFFFFF;
    background: #188CE8;
}

.site-filter .link.current {
    color:#FFFFFF;
    background-color:var(--accent-color);  
}

.site-filter .item:not(:last-child) {
    margin-right: 8px;
}


.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 34px;
}

.project-cards .item {

    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.project-cards>.item:nth-child(3n){
    margin-right: 0px;
}

.project-cards .item:nth-last-child(-n+3){
    margin-bottom: 0px;
}

.project-cards .card {
    padding: 20px 24px;
    text-align: start;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right:#EEEEEE 1px solid;
    border-left:#EEEEEE 1px solid;
    border-bottom:#EEEEEE 1px solid;
}

.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  }


.section .project {
    margin-bottom: 4px;

    color:var(--secondary-text-color);

    font-size: 18px;
    font-weight:700;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
}

.project-paragraph {
    font-size: 16px;
    line-height: calc(30 / 16);
}

